* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    width: 1200px;
    margin: o auto;
}

header {
    background-image:url(./img/pattern.png);
    height: 175px;
    background-color: rgb(80, 174, 251);
    
}

.logo {
    width: 300px;
    margin-top: 80px;
    margin-left: 10px;
}

.title {
    margin-top: 10px;
    font-size: 50px;
    
}

.blue {
    color: deepskyblue;
}

.subtitle {
    color: grey;
}

.data{
    color: grey;
    font-size: 10px;
    margin-bottom: 10px;
}

.photo-text {
    font-size: 10px;
}

.lorem-text {
    margin-top: 15px;
    margin-bottom: 20px;
}
.yellow{
    background-color: gold;
    
}
.list{
    margin-left: 20px;
    margin-bottom: 30px;
}

table {
    border-collapse: collapse;
    margin-bottom: 30px;
    
}

thead {
    background-color: deepskyblue;
    color: white;
    text-align: left;
}

td {
    width: 800px;
}


.tab-blue {
    background-color: rgb(144, 211, 234);
 
}

.footer-text {
    color: grey;
    margin-bottom: 10px;
}

.monitor h2 {
    text-align: center
}

.monitor {
    background-image: url(./img/monitor.jpg);
    height: 200px;
    background-repeat:  no-repeat;
}

.monitor h2 {
    text-align: left;
    color: white;
    margin-left: 20px;
    margin-top: 20px;
    padding-top: 10px;
}


.graph {
    background-image: url(./img/graph.jpg);
    height: 200px;
    background-repeat:  no-repeat;
}

.graph h2 {
    text-align: left;
    color: white;
    margin-left: 20px;
    margin-top: 20px;
    padding-top: 10px;
}