* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

header {
    background-image:url(./img/pattern.png);
    height: 175px;
    background-color: deepskyblue;
    
}

.logo {
    width: 400px;
    margin-top: 50px;
    margin-left: 10px;
}

h1 {
    margin-top: 10px;
}

.blue {
    color: deepskyblue;
}

.subtitle {
    color: grey;
}

.data{
    color: grey;
}


